@charset "utf-8";

/*start sidebar responsive coding*/

@media(max-width: 768px){
	.sidebar{
		width: 100%;
		height: auto;
		position: relative;
	}

	.page{
		width : 100%;
		margin-left: 0;
		padding: 5%;
	}
	
	/*.sidebar h3,.sidebar h6,.sidebar hr{
		display: none;
	}*/
}

/*end sidebar responsive coding*/